<a href="https://colab.research.google.com/github/CarsonHhs/InventoryManagement/blob/main/prophet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import numpy as np
import pandas as pd

In [20]:
df =pd.read_csv('/content/drive/MyDrive/colab/10-01-00014.csv',parse_dates= ['Date'],dayfirst=True)

In [29]:
df.set_index('Date', inplace=True)

In [31]:
df.resample('w').sum()

            Qty
Date
2014-01-12   25
2014-01-19    0
2014-01-26   22
2014-02-02    0
2014-02-09    0
...         ...
2021-04-11    0
2021-04-18    0
2021-04-25    0
2021-05-02    0
2021-05-09   13

[383 rows x 1 columns]